<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 可以Spring boot 在application中配置logback xml参数-->
    <springProperty scope="context" name="log.path" source="logging.file.path"/>
    <springProperty scope="context" name="log.name" source="logging.file.name"/>
    <springProperty scope="context" name="log.level.root" source="logging.level.root"/>

    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>[%date{yyyy-MM-dd HH:mm:ss.SSS}]-[%r]-[%t]-[%p]-[%logger] %.-10000m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
    </appender>
    <appender name="ASYNC_CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>10000</queueSize>
        <appender-ref ref="CONSOLE" />
    </appender>

    <!-- 按照每天生成日志文件 -->
    <appender name="BASE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/${log.name}.log</file>
        <encoder>
            <pattern>[%date{yyyy-MM-dd HH:mm:ss.SSS}]-[%r]-[%t]-[%p]-[%logger] %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/history/${log.name}-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>
    <appender name="ASYNC_BASE" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>10000</queueSize>
        <appender-ref ref="BASE" />
    </appender>

    <!-- dev(开发环境)开启console台输出log，同时将log打印到文件-->
    <springProfile name="dev">
        <!-- 日志输出级别 TRACE, DEBUG, INFO, WARN, ERROR, ALL 和 OFF -->
        <root level="${log.level.root}">
            <appender-ref ref="ASYNC_CONSOLE"/>
            <appender-ref ref="ASYNC_BASE"/>
        </root>
    </springProfile>

    <!-- sit(系统测试环境)，uat(User测试环境)，prod(生产环境)的时候将log打印到文件-->
    <springProfile name="sit,uat,prod">
        <root level="${log.level.root}">
            <appender-ref ref="ASYNC_BASE"/>
        </root>
    </springProfile>

</configuration>